# Python files
*.pyc
__pycache__

# Папка egg-info
*.egg-info

# MyPy cache
.mypy_cache

# Development files
/conf/*.key
/conf/*-devel.yaml

# Env
/.env

# Editors
!/.vscode/tasks.json
/.vscode/*

# Doc build
/doc/_build
