<!--

-->
<html>
    <head>
    </head>
    <body>
        <p>Please enter username and password!</p>
        <form action="/login" method="POST">
            <input type="text" name="username">
            <input type="password" name="password">
            <input type="submit" value="submit">
            <input type="hidden" name="forward" value="{{ forward | urlencode}}">
        </form>
        <div>{{error_code}} {{error}}</div>
    </body>
</html>
{% if error_code %}
<!--
HTTP Status Code: {{error_code}}
HTTP Message: {{error}}
-->
{% endif %}
