<html>
    <head>
    </head>
    <body>
        <p>Please enter username and password!</p>
        <form action="{{endpoint}}" method="post">
            <input type="text" name="username" value="{{ query.username | urlencode}}">
            <input type="password" name="password">
            {% for key in ['next', 'state'] %}
                <input type="hidden" name="{{key}}" value="{{query[key] | urlencode}}">
            {% endfor %}
            <input type="submit" value="submit">
        </form>
        {% if error %}
            <div>
                <span>{{error}}</span>
                <span>{{error_description}}</span>
            </div>
        {% endif %}

    </body>
</html>
