<html>
    <head>
    </head>
    <body>
        <p>Please enter username and password!</p>
        <form action="/login" method="POST">
            <input type="text" name="username">
            <input type="password" name="password">
            <input type="submit" value="submit">
            <input type="hidden" name="next" value="{{ next | urlencode}}">
            <input type="hidden" name="state" value="{{ state | urlencode}}">
        </form>
        <div>{{error}} {{error_description}}</div>
    </body>
</html>
{% if error %}
<!--
HTTP Status Code: {{error}}
HTTP Message: {{error_description}}
-->
{% endif %}
