<html>
<head>
</head>
<body>
User not registered!

<form action="{{login_endpoint}}">
<input type="hidden" name="state" value="{{state}}">
<input type="hidden" name="next" value="{{next}}">
<input type="submit" value="Use existing account">
</form>

<form action="{{registration_endpoint}}">
<input type="hidden" name="state" value="{{state}}">
<input type="hidden" name="next" value="{{next}}">
<input type="submit" value="Register new account">
</form>

</body>
</html>
