{% extends "main.j2" %}
{% block header %}Регистрация{% endblock header %}
{% block content %}
<div style="text-align: center;">
    <form action="{{endpoint}}" method="post" class="vertical-form">
        <input type="text" name="given_name" placeholder="Имя" autocomplete="fname">
        <input type="text" name="patronymic" placeholder="Отчество" autocomplete="mname">
        <input type="text" name="family_name" placeholder="Фамилия" autocomplete="lname">
        <input type="email" name="email" required autocomplete="email" placeholder="Электронная почта">
        <input type="text" name="username" required autocomplete="username" placeholder="Имя пользователя">
        <input type="password" autocomplete="new-password" name="password" placeholder="Пароль">

        {% for key in ['next', 'state'] %}
            {% if query[key] %}
                <input type="hidden" name="{{key}}" value="{{query[key] | e}}">
            {% endif %}
        {% endfor %}

        <button type="submit">Зарегистрироваться</button>
    </form>
</div>
{% endblock content %}
